
  
<servlet>  
  <servlet-name>Demo</servlet-name>  
  <jsp-file>/JSPConfigRes.jsp</jsp-file>  
  <init-param>  
   <param-name>dname</param-name>  
   <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
  </init-param>  
</servlet>  
<servlet-mapping>  
   <servlet-name>Demo</servlet-name>  
   <url-pattern>/JSPConfigRes</url-pattern>  
</servlet-mapping>  
